
assets/.DS_Store
assets/.DS_Store
# *.sh
Docker_pandoc/*
!Docker_pandoc/Dockerfile # keep the Dockerfile

# Ignore environment files that may contain sensitive information
Docker_pandoc/.env

*.sh
*.bak